<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--配置Bean后处理器-->
    <!--将作用域整个配置文件中所有的Bean-->
    <bean class="com.yongzh.bean.LogBeanPostProcessor"/>

    <!--需要手动指定初始化方法和销毁方法-->
    <bean id="user" class="com.yongzh.bean.User" init-method="initBean" destroy-method="destroyBean">
        <property name="name" value="wuhu"/>

    </bean>
</beans>